page-building {
    .header-image {
        background-image: url('../../assets//imgs/building-background.jpeg');
        height: 40vh;
    }
     
    .main-content {
        padding: 20px;
        background-color: white;
    }
}
