page-building {
    .header-image {
        background-image: url('https://devpiqstrata-uploads.tooltwist-project.com/dev/strata/1/building/70/images/1535093015606/building-large.jpg');
        height: 40vh;
    }
     
    .main-content {
        padding: 20px;
        background-color: white;
    }
}
