app-levy-total-info {
    .hotdog {
        min-width: 280px;
    }
    
    .card {
        border-radius: 35px;
        
        @media screen and (max-width: 767px) {
            .card-body {
                flex-flow: column nowrap;
    
                .lb-center {
                    width: 100%;
                }
            }
        }
    }
    .lp-total-arrears,
    .lp-total-levy-due {
        border-radius: 25px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
        overflow: hidden;
        background: #fff;

        .hotdog {
            background: #3579ee !important;
        }
        .red {
            background: #f13030 !important;
        }
        
        .text-red {
            color: #f13030 !important;
        }
        h4 {
            color: #fff !important;
        }
    }
    
}
