page-open-items {
    & > ion-content {
		margin-top: 56px;
		background: #e2e7ef !important;
		// background: #efeff4 !important;

		& > .scroll-content {
			margin-bottom: 112px !important;
        }
        
        ion-fab {
            button {
                bottom: 60px;
            }
        }
        .oi-search-container {
            background: #eceff5;
        }
	}
}
