
@import './colors';

// Text/Paragraphs
p, input, textarea, select {
    color: $text-color !important;
}
a {
	text-decoration: none;
}
// Headings
h1, h2, h3, h4, h5, h6 {
	font-size: 1.7rem !important;
	color: $heading-color !important;
	font-weight: 500 !important;
}
// Alignment
.text-center {
	text-align: center;
}

// ----------------------------------------------------------------------
// Ionic elements
// ----------------------------------------------------------------------

// Card
ion-card-title {
	font-size: 1.7rem !important;
}

// Navbar
ion-title .toolbar-title {
	font-size: 1.75rem !important;

	@media screen and (min-width: 500px) {
		font-size: 1.55rem !important;
	}
}