page-faqs-modal {
    ion-card {
        box-shadow: none !important;

        ion-card-header {
            white-space: normal;

            h6 {
                font-size: 1.8rem !important;
            }
        }
    }
}
