// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.





// Reusable custom classes
.hidden {
	display: none !important;
}

// Side menu
.sidemenu {
	position: relative;
	
	.sidemenu-header {
		position: relative;
		height: 25vh;
		background: url('https://devpiqstrata-uploads.tooltwist-project.com/dev/strata/1/building/70/images/1535093015606/building-large.jpg');
		background-size: cover;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(to left, rgba(10, 54, 92, 0.95), rgba(13, 29, 56, 0.90));
			opacity: .95;
		}
		.sidemenu-close {
			background: rgba(0, 0, 0, 0.28);
			position: absolute;
			border-radius: 50%;
			width: 35px;
			height: 35px;
			right: 10px;
			top: 10px;
			z-index: 1;
		}
		.header-property {
			position: absolute;
			display: flex;
			flex-flow: column nowrap;
			bottom: 0;
			width: 100%;
			z-index: 1;
			padding: 1rem;

			.property-image {
				position: relative;
				width: 70px;
				height: 70px;
				border-radius: 50%;
			}
			.property-details {
				.property-name {
					color: #fff;
				}
			}
		}
	}
}

// Animations
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}
.fadeIn {
	animation-name: fadeIn;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

