@mixin default-theme($theme) {

    // ========================================================================
    // Colors
    // ========================================================================
    
    // Heading/Text
    $white: #fff;
    $text-color: #5d5d5d;
    $heading-color: #444444;

    // Card
    $drk-card-color: #212834;
    $drk-card-shadow: #364052;

    // Input
    $drk-input-color: #272f3e;

    // Line seperator
    $drk-card-line-color: #313844;
    $drk-page-lline-color: #262f3e;

    // Hotdog
    $drk-bg-hotdog: #28303E;

    // ========================================================================
    // Global
    // ========================================================================

    // Headings
    h1, h2, h3, h4, h5, h6, ion-card-title {
        color: $heading-color !important;
    }

    // Text
    p, input, textarea, select {
        color: $text-color !important;
    }

    // Content
    ion-content.content:not(.page-modal) {
        background: $theme !important;
    }

    // Overflow fade
    .ovfw-fade::after {
        background: linear-gradient(to top, $white, transparent);
    }

    // ========================================================================
    // Pages
    // ========================================================================
    
    

    // ========================================================================
    // Components
    // ========================================================================

    // Newsfeed
    app-newsfeed ion-scroll .cl-body::after {
        background: linear-gradient(to top, $white, transparent);
    }

}