@mixin light-theme($theme) {

    // ========================================================================
    // Colors
    // ========================================================================

    $white: #fff;
    $active-color: #f9fafd;

    // ========================================================================
    // Global
    // ========================================================================
    
    // Content
    ion-content.content {
        background: $theme !important;
    }

    // Modal
    ion-content.page-modal {
        background: $white !important;
    }

    // Tabs
    ion-tabs .tabbar {
        background: $white;

        .tab-button-icon {
            color: #828282;
        }
    }
   
    // Hotdog
    .hotdog {
        background: $active-color;
    }

    // Pseudo bg
    ._bg-shade-pseudo-before::before,
    ._bg-shade-pseudo-after::after {
        background: $active-color;
    }

    // Loading
    .is-loading::before {
        background: $white;
    }

    // ========================================================================
    // Pages
    // ========================================================================

    // Building 
    page-building {
        ion-slides.header-image {
            background: #dde3f3;
        }
        .main-content {
            background: $theme !important;
        }
    }

    // Building Modal gallery
    gallery-modal {
        ion-content.content {
            background: rgba(0, 0, 0, 0.85) !important;
        }
    }

    // Dashboard
    .cl-pinned {
        background: $white;
    }

    // Notification
    page-notifications #page-notification {
        background: $white !important;
        ion-list {
            ion-item.active {
                background: $active-color !important;
            }
        }
    }

    // Settings
    page-settings #page-settings {
        background: $white !important;
        
        ion-list {
            ion-list-header {
                background: $active-color !important;
            }
        }
    }

    // My properties modal
    page-my-properties-modal {
        ion-item.active {
            background: $active-color !important
        }
    }

    // Login
    page-login {
        .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner { 
            border-bottom-color: #dedede;
            box-shadow: none;
        }
    }

    // ========================================================================
    // Components
    // ========================================================================

    // Sidemenu
    .sidemenu-body {
        ion-item.active {
            background: $active-color !important;
        }
    }
}

// Other elements for light theme are the same with default theme,
// the only difference is its 'body/content' background color