app-navbar {
    .navbar-properties {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #fff;
        margin: 0 1.25rem;

        .button-inner {
            height: 35px;
            width: 35px;

            img {
                height: 100%;
                max-width: unset;
            }
        }
    }
}
