page-my-properties-modal {
    ion-navbar {
        position: relative;
        padding: 1rem !important;
        
        ion-title {
            text-align: center;
            padding: 7px;
        }
        ion-buttons {
            top: 0;
            right: 0;
            
            button {
                ion-icon {
                    transform: scale(1.2);
                }
            }
        }
    }
    ion-list {

        ion-item {
            padding: 0 2rem !important;
            border-bottom: 1px solid #e7e9ec !important;
    
            &.active {
                background: #f0f2f7 !important;
            }
    
            ion-avatar {
                margin-right: 1rem !important;
            }
        }
    }
}
