page-document {
    & > ion-content {
		margin-top: 56px;
		background: #e2e7ef !important;
		// background: #efeff4 !important;

		& > .scroll-content {
			margin-bottom: 112px !important;
        }

        ion-card-header {
            background: #f2f4f7;
            p {
                color: #6f7688 !important;
            }
        }
        ion-card-content {
            .dc-download {
                opacity: 0.8;
            }
        }
    }
}
