page-document {
    ion-content {
        ion-card-header {
            background: #f2f4f7;
            p {
                color: #6f7688 !important;
            }
        }
        ion-card-content {
            .dc-download {
                opacity: 0.8;
            }
        }
    }
}
